@font-face {
  font-family: 'Carnas-Bold';
  src: url('/static/webfonts/30F44B_0_0.eot');
  src: url('/static/webfonts/30F44B_0_0.eot?#iefix') format('embedded-opentype'),
    url('/static/webfonts/30F44B_0_0.woff2') format('woff2'),
    url('/static/webfonts/30F44B_0_0.woff') format('woff'),
    url('/static/webfonts/30F44B_0_0.ttf') format('truetype'),
    url('/static/webfonts/30F44B_0_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'Carnas-Light';
  src: url('/static/webfonts/30F44B_1_0.eot');
  src: url('/static/webfonts/30F44B_1_0.eot?#iefix') format('embedded-opentype'),
    url('/static/webfonts/30F44B_1_0.woff2') format('woff2'),
    url('/static/webfonts/30F44B_1_0.woff') format('woff'),
    url('/static/webfonts/30F44B_1_0.ttf') format('truetype'),
    url('/static/webfonts/30F44B_1_0.svg#wf') format('svg');
}

body {
  font-family: 'Carnas-Light', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Carnas-Bold', sans-serif;
  font-weight: 500;
}

ul.no-style {
  list-style-type: none;
}

ul.no-style li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}

img {
  max-width: 100%;
}

.card {
  padding: 1em;
}
a {
  color: #292b2c;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.breadcrumb {
  font-size: 0.65em;
  text-transform: uppercase;
  border-bottom: 4px solid #f5bc42;
}
.breadcrumb a {
  color: #323232;
}
